{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}

    {#INFOS CLIENT#}

    <div class="main_date">
        <span>Date du jour :  {{ "now"|date("d-m-Y") }}</span>
        <span>Participant : {{ app.user.nom|capitalize }} {{ app.user.prenom|first }}.</span>
    </div>

    {#FILTRE SORTIES#}

    <div>
        <h3>Filtrer les sorties</h3>
        {{ form_start(sortiesForm) }}
        {{ form_widget(sortiesForm) }}
        <button type="submit">Rechercher</button>
        {{ form_end(sortiesForm) }}
    </div>

    {#TABLEAU DES SORTIES#}

    <div class= "sorties">
        <table class = "sorties_table">
            <tr class = "sorties_row">
                <th class = "sorties_column">Nom de la sortie</th>
                <th class = "sorties_column">Date de la sortie</th>
                <th class = "sorties_column">Clôture</th>
                <th class = "sorties_column">Inscrits/Places</th>
                <th class = "sorties_column">Etat</th>
                <th class = "sorties_column">Inscrit</th>
                <th class = "sorties_column">Organisateur</th>
                <th class = "sorties_column">Actions</th>
            </tr>
            {% for sortie in sorties %}
                <tr class = "sorties_row">
                    <td class = "sorties_column">{{ sortie.nom }}</td>
                    <td class = "sorties_column">{{ sortie.dateHeureDebut|date("d-m-Y") }}</td>
                    <td class = "sorties_column">{{ sortie.dateLimiteInscription|date("d-m-Y") }}</td>
                    <td class = "sorties_column">{{ sortie.participants|length }}/{{ sortie.nbInscriptionsMax }}</td>
                    <td class = "sorties_column">{{ sortie.etat.libelle }}</td>
                    <td class = "sorties_column">{% if app.user in sortie.participants == true %}OUI{% endif %}</td>
                    <td class = "sorties_column"><a href="{{ path('profil_details', {'id' : sortie.organisateur.id}) }}" title="voir le profil">{{ sortie.organisateur.nom }} {{ sortie.organisateur.prenom|first }}.</a></td>
                    <td class = "sorties_column">
                        {% if sortie.organisateur == app.user and sortie.etat.libelle is same as("créée") %}
                            {{ "Modifier - Publier" }}
                        {% else %}
                            <a href="{{ path('sortie_afficher', {'id' : sortie.id}) }}" title="Afficher la sortie">{{ "Afficher " }}</a>
                        {% endif %}
                        {% if app.user in sortie.participants == true and sortie.etat.libelle is same as("ouverte","cloturée") %}
                            {{ "- Se désister " }}
                        {% elseif sortie.etat.libelle is same as("ouverte") %}
                            {{ " - S'inscrire " }}
                        {% endif %}
                        {% if sortie.organisateur == app.user and sortie.etat.libelle is same as("ouverte","cloturée")%}
                            <a href="{{ path('sortie_annuler', {'id' : sortie.id}) }}" title="Annuler la sortie">{{ " - Annuler" }}</a>
                        {% endif %}
                    </td>

                </tr>
            {% endfor %}
        </table>
    </div>
        <a href="{{ path('sortie_creer') }}">
            <button>
                Créer une sortie
            </button>
        </a>


{% endblock %}
