{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}

    <div class="main_date">
        <span>Date du jour :  {{ "now"|date("d-m-Y") }}</span>
        <span>Participant : {{ participant.prenom|capitalize }} {{ participant.nom|first }}.</span>
    </div>

    <div>


            <div class= "sorties">
                <table class = "sorties_table">
                    <tr class = "sorties_row">
                        <th class = "sorties_column">Nom de la sortie</th>
                        <th class = "sorties_column">Date de la sortie</th>
                        <th class = "sorties_column">Clôture</th>
                        <th class = "sorties_column">Inscrits/Places</th>
                        <th class = "sorties_column">Etat</th>
                        <th class = "sorties_column">Inscrit</th>
                        <th class = "sorties_column">Organisateur</th>
                        <th class = "sorties_column">Actions</th>
                    </tr>
                    {% for sortie in sorties %}
                    <tr class = "sorties_row">
                        <td class = "sorties_column">{{ sortie.nom }}</td>
                        <td class = "sorties_column">{{ sortie.dateHeureDebut|date("d-m-Y") }}</td>
                        <td class = "sorties_column">{{ sortie.dateLimiteInscription|date("d-m-Y") }}</td>
                        <td class = "sorties_column">0/{{ sortie.nbInscriptionsMax }}</td>
                        <td class = "sorties_column">En cours</td>
                        <td class = "sorties_column">Oui</td>
                        <td class = "sorties_column">{{ sortie.organisateur.nom }} {{ sortie.organisateur.prenom|first }}.</td>
                        <td class = "sorties_column">Modifier - Annuler</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

    </div>
{% endblock %}
