{% extends 'base.html.twig' %}

{% block title %}Connexion | {{ parent() }}{% endblock %}

{% block body %}

    <header>
        <h1><a href="{{ path('home')}}"><img src="{{ asset('img/logo.png') }}" alt="logo site sortirApp"/></a>sortirApp la famille</h1>
    </header>

    <form class="login" method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div>
                Vous êtes connecté(e) en tant que : {{ app.user.userIdentifier }}, <a href="{{ path('logout') }}">Déconnexion</a>
            </div>
        {% endif %}

        <div class="login_div">
            <div class="login_input">
                <label for="inputEmail">Identifiant : </label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email" required autofocus>
            </div>
            <div class="login_input">
                <label for="inputPassword">Mot de passe : </label>
                <input type="password" name="password" id="inputPassword" autocomplete="current-password" required>
            </div>
        </div>

        <button class="login_btn" type="submit">
            Connexion
        </button>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}">

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>

    </form>
{% endblock %}
