{% extends 'base.html.twig' %}

{% block title %}Profil | {{ parent() }}{% endblock %}

{% block body %}

    <section style="display: flex">

    <img class="hidden_pain" src="{{ asset("img/5616.webp") }}">

    <div>


        <div class="green_box">

            <table>
                <tr>
                    <th><h2>{{ participant.pseudo }}</h2></th>
                </tr>
                <tr>
                    <th>Prénom : </th>
                    <td>{{ participant.prenom }}</td>
                </tr>
                <tr>
                    <th>Nom : </th>
                    <td>{{ participant.nom }}</td>
                </tr>
                <tr>
                    <th>Téléphone : </th>
                    <td>{{ participant.telephone }}</td>
                </tr>
                <tr>
                    <th>Email : </th>
                    <td>{{ participant.email }}</td>
                </tr>
                <tr>
                    <th>Campus : </th>
                    <td>{{ participant.campus.nom}}</td>
                </tr>
            </table>

        </div>

    </div>

    </section>
{% endblock %}