{% extends 'base.html.twig' %}

{% block title %}Profil | {{ parent() }}{% endblock %}

{% block body %}

    {{ form_start(participantForm) }}

    <div class="profil_div">
        <div class="profil_row">
            {{ form_label(participantForm.pseudo) }}
            {{ form_widget(participantForm.pseudo) }}
        </div>
        <div class="profil_row">
            {{ form_label(participantForm.prenom) }}
            {{ form_widget(participantForm.prenom) }}
        </div>
        <div class="profil_row">
            {{ form_label(participantForm.nom) }}
            {{ form_widget(participantForm.nom) }}
        </div>
        <div class="profil_row">
            {{ form_label(participantForm.telephone) }}
            {{ form_widget(participantForm.telephone) }}
        </div>
        <div class="profil_row">
            {{ form_label(participantForm.motPasse) }}
            {{ form_widget(participantForm.motPasse) }}
        </div>
        <div class="profil_row">
            {{ form_label(participantForm.email) }}
            {{ form_widget(participantForm.email) }}
        </div>
        <div class="profil_row">
            <button class="profil_btn" type="submit">Enregistrer</button>
            <button class="profil_btn" type="button">
                <a class="return_btn" href="{{ path('home') }}">Annuler</a>
            </button>
        </div>
    </div>

    {{ form_end(participantForm) }}

{% endblock %}
