{% extends 'base.html.twig' %}

{% block title %}Sorties{% endblock %}

{% block body %}

    <section class = "main_section">

        <div class="green_box">
            <div class="annuler_sortie_div">
                <span>Nom de la sortie :</span>
                <span>{{ sortie.nom }}</span>
            </div>

            <div class="annuler_sortie_div">
                <span>Date de la sortie :</span>
                <span>{{ sortie.dateHeureDebut|date("d-m-Y") }}</span>
            </div>

            <div class="annuler_sortie_div">
                <span>Campus :</span>
                <span>{{ sortie.campus.nom }}</span>
            </div>

            <div class="annuler_sortie_div">
                <span>Lieu :</span>
                <span>{{ sortie.lieu.nom     }}</span>
            </div>

            <div class="annuler_sortie_div">
                <span>
                    {{ form_start(annulerForm) }}
                </span>
            </div>

            <div class="boutons_annuler_sortie">

                {{ form_widget(annulerForm)}}

                <span>
                    <button>
                        Enregistrer
                    </button>

                {{ form_end(annulerForm) }}

                    <button>
                        <a href="{{ path('home')}}" title="Annuler">{{ "Annuler" }}</a>
                    </button>
                </span>


            </div>

        </div>

    </section>

{% endblock %}
