{% extends 'base.html.twig' %}

{% block title %}Sorties{% endblock %}

{% block body %}

    {{ form_start(sortiesForm) }}

    <a href="{{ path('home') }}"><button type="submit">Enregistrer</button></a>
    <a href="{{ path('home') }}"><button type="submit">Publier</button></a>
    <a href="{{ path('home') }}"><button type="button">Annuler</button></a>

    {{ form_end(sortiesForm) }}

{% endblock %}