{% extends 'base.html.twig' %}

{% block title %}Sorties | Créer une sortie{% endblock %}

{% block body %}

    {{ form_start(sortieCreateForm) }}
    <div>
        {{ form_label(sortieCreateForm.nom) }}
        {{ form_widget(sortieCreateForm.nom) }}

        {{ form_label(sortieCreateForm.dateHeureDebut) }}
        {{ form_widget(sortieCreateForm.dateHeureDebut) }}

        {{ form_label(sortieCreateForm.dateLimiteInscription) }}
        {{ form_widget(sortieCreateForm.dateLimiteInscription) }}

        {{ form_label(sortieCreateForm.nbInscriptionsMax) }}
        {{ form_widget(sortieCreateForm.nbInscriptionsMax) }}

        {{ form_label(sortieCreateForm.duree) }}
        {{ form_widget(sortieCreateForm.duree) }}

        {{ form_label(sortieCreateForm.infosSortie) }}
        {{ form_widget(sortieCreateForm.infosSortie) }}
    </div>

    <div>
        <h2>Campus : {{ app.user.campus.nom }}</h2>

        {{ form_label(sortieCreateForm.Lieu) }}
        {{ form_widget(sortieCreateForm.Lieu) }}

        <p>Rue : {{ lieu.rue }} </p>
        <p>Code postal : {{ ville.CodePostal }} </p>
    </div>

    <div class="profil_row">

        {{ form_row(sortieCreateForm.enregistrer) }}
        {{ form_row(sortieCreateForm.publier) }}

        <button class="profil_btn" type="button">
            <a class="return_btn" href="{{ path('home') }}">Annuler</a>
        </button>
    </div>

    {{ form_end(sortieCreateForm) }}

{% endblock %}
