{% extends 'base.html.twig' %}

{% block title %}Sorties | Créer une sortie{% endblock %}

{% block body %}

    {{ form_start(sortieCreateForm) }}

    <section class="wrap_section">

        <div class="green_box">
            {{ form_label(sortieCreateForm.nom) }}
            {{ form_widget(sortieCreateForm.nom) }}

            {{ form_label(sortieCreateForm.dateHeureDebut) }}
            {{ form_widget(sortieCreateForm.dateHeureDebut) }}

            {{ form_label(sortieCreateForm.dateLimiteInscription) }}
            {{ form_widget(sortieCreateForm.dateLimiteInscription) }}

            {{ form_label(sortieCreateForm.nbInscriptionsMax) }}
            {{ form_widget(sortieCreateForm.nbInscriptionsMax) }}

            {{ form_label(sortieCreateForm.duree) }}
            {{ form_widget(sortieCreateForm.duree) }}

            {{ form_label(sortieCreateForm.infosSortie) }}
            {{ form_widget(sortieCreateForm.infosSortie) }}
        </div>

        <div class="green_box">
            <h2>Campus : {{ app.user.campus.nom }}</h2>

            {{ form_label(sortieCreateForm.Lieu) }}
            {{ form_widget(sortieCreateForm.Lieu) }}

            <p>Rue : </p>
            <p>Code postal : </p>

        </div>


        {{ form_row(sortieCreateForm.enregistrer) }}

        {{ form_row(sortieCreateForm.publier) }}

        <button type="button">
            <a class="return_btn" href="{{ path('home') }}">Annuler</a>
        </button>


    </section>

    {{ form_end(sortieCreateForm) }}
{% endblock %}
